* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #efe4de;
    padding-top: 100px;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.no-results {
    font-size: 22px;
    text-align: center;
    color: #8B6F47;
    grid-column: 1 / -1;
    padding: 60px 20px;
}